

body {
background-color: #fef2c2;   
color:#302005;
}


img {
width: 512px;
display: block;
margin-left: auto;
margin-right: auto;
}


table {
border:0.5px solid black;
background-color: #eeffee;
margin-left: auto;
margin-right: auto;
}

th, td {
border:0.5px solid black;
}


figcaption {
    font-style: italic;
    padding: 2px;
    text-align: center;
  }